{% extends 'base.html' %}

{% block title %}Blogly - Add Post{% endblock %}
{% block content %}

<h1>Add Post for {{user.full_name}}</h1>

<form action="/users/{{user.id}}/posts/new", method="POST">
    <p>Title<br>
        <input required type="text" name="post_title" placeholder="First Post!">
    </p>
    <p>Post Content<br>
        <input required type="text" name="post_content" placeholder="Hello World!">
    </p>

    {% for tag in tags %}
    <div>        
        <input type="checkbox" value="{{tag.id}}" name="tags"><label for="{{tag.name}}">{{tag.name}}</label>
    </div>
    {% endfor %}

    <br>
    <button class="add">Submit</button>
</form>

<form action="/users/{{user.id}}">
    <button class="cancel">Cancel</button>
</form>

{% endblock %}