{% extends 'base.html' %}
{% block title %}Blogly - Create User{% endblock %}
{% block content %}

<h1>Create a User</h1>

<form action="/users/new", method="POST">
    <p>First Name<br>
        <input required type="text" max="30" name="first_name" placeholder="Enter a first name">
    </p>
    <p>Last Name<br>
        <input required type="text" max="30" name="last_name" placeholder="Enter a last name">
    </p>
    <p>Image URL<br>
        <input type="url" name="image_url" placeholder="Image URL for Profile Picture">
    </p>
    <button class="add">Submit</button>
</form>

<form action="/users">
    <button class="cancel">Cancel</button>
</form>

{% endblock %}